@font-face
{
	font-family: SPACEMAN;
	src: url(../font/SPACEMAN.TTF);
}
body
{
	font-family: SPACEMAN;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}
div
{
	position: absolute;
	font-size: 35px;
}
canvas
{
	position: absolute;
}
.time
{
	width: 30%;
	padding-left: 3vw;
	pointer-events: none;
}
.time:hover
{
	cursor: default;
}
.dead
{
	padding-top: 30vh;
	text-align: center;
	font-size: 50px;
}
a
{
	color: #fff;
}