@font-face {
	font-family: SPACEMAN;
	src: url(../font/SPACEMAN.TTF);
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* pour credit */
html.credit {
	height: auto;
  	width: auto;
  	overflow: auto;
}

body {
  font-family: SPACEMAN;
  background: linear-gradient(#B41901, #850154);
  position: relative;
}

body.credit {
  background: linear-gradient(#DE3400, #5E1600);
  position: relative;
}

p{
	font-family: SPACEMAN;
	text-align: center;
	color: #1689DE;
	padding-button: 15px;
	font-size: 70px;
}

h1{
	text-align: center;
	color: #FFECDE;
	padding-top: 120px;
	font-size: 47px;

}

h1.credit{
	font-family: SPACEMAN;
	text-align: center;
	color: #FFECDE;
	padding-top: 10px;
	font-size: 50px;
}

h2{
	font-family: SPACEMAN;
	text-align: center;
	color: #2AFAF0;
	padding-top: 30px;
	font-size: 30px;
}

button{
	display: block;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 10px;
	background-color: transparent;
	color: #FEEBDD;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;

}

a{
	text-decoration:none;
}

button:hover{
	background-color: #737373;
}

#wrap {
  width: 350px;
  margin: 100px auto;
}

#moon {
  position: relative;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: linear-gradient(50deg, rgba(181,23,2,1), rgba(255,255,255,0.7)) no-repeat;
}



.i-small,
.i-medium{
	position : absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}

.i-small{
	background: url("image/particule-small.png") repeat 0px 0px;
	-webkit-animation: dropFlowParticles 5s linear infinite;
		 -o-animation: dropFlowParticles 5s linear infinite;
			animation: dropFlowParticles 5s linear infinite;
}

.i-medium{
	background: url("image/particule.png") repeat 0px 0px;
	-webkit-animation: dropFlowParticles 1s linear infinite;
		 -o-animation: dropFlowParticles 1s linear infinite;
			animation: dropFlowParticles 1s linear infinite;
}

@-webkit-keyframes dropFlowParticles {
	from { background-position: 0 0; }
	to { background-position: 0 350px; }
}
@keyframes dropFlowParticles {
	from { background-position: 0 0; }
	to { background-position: 0 350px; }
}